<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title> Devencenzio Construction Contact Page</title>
<link href="/css/css.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="scripts/val.js" type="text/javascript"></script>
<style type="text/css">
.auto-style2 {
	margin-left: 32px;
}

.auto-style3 {
	margin-top: 1px;
}

</style>
</head>

<body>
<div id="wrap">
<div id="layer1" style="position:relative; width: 597px; height: 56px; z-index: 1; left: 251px; top: 69px">
<table style="width: 540px"><tr>
<td style="height: 25px; width: 19px"><a href="/">Home</a></td>
<td style="height: 25px; width: 31px"><a href="/gallery">Jobs Completed</a></td>
<td style="width: 50px; height: 25px;"><a href="/testimonials">Testimonials</a></td>
<td style="height: 25px; width: 50px;"><a href="/contact">Contact Us</a></td></tr>
</table>
</div>


<div id="layer8" style="position:relative; width: 673px; height: 156px; z-index: 4; left: 64px; top: 388px">
<table style="width: 700px"><tr><th style="width: 61px; height: 25px;">Railing</th>
	<th style="width: 199px; height: 25px;">Drywall and Framing</th>
	<th style="width: 161px; height: 25px;">Decking</th></tr>
<tr><td style="width: 61px; height: 125px;">
	<img alt="first" src="images/d1.jpg" height="117" width="160" class="auto-style2" /></td>
	<td style="width: 199px; height: 125px;">
	<img src="images/d2.jpg" height="117" width="160" class="auto-style2" /></td>
	<td style="width: 161px; height: 125px;">
	<img src="images/d3.jpg" height="117" width="160" class="auto-style2"  />
</td></tr>
</table>
</div>


<div id="layer6" style="position:relative; width: 739px; height: 412px; z-index: 3; left: 38px; top: 408px">

	<form action="/contactform" name="contactme" method="post" style="height: 350px">
		<input name="Submit1" type="submit" value="submit" style="position:absolute; left: 319px; top: 284px; height: 26px;" tabindex=20 />&nbsp;
		<fieldset name="Group1" style="height:369px; width:712px">
		<p style="position:absolute; left: 290px; top: -20px;"><strong>FREE ESTIMATES</strong></p>
		<!-- labels start here -->
		<label id="Label9" style="position:absolute; left: 16px; top: 46px; right: 570px;">First and Last name:</label>
		<label id="Label8" style="position:absolute; left: 16px; top: 93px; right: 550px;" class="auto-style3">Contact Phone number:</label>
		<label id="Label7" style="position:absolute; left: 14px; top: 147px; right: 549px;" class="auto-style3">Contact Email Address:</label>
		<label id="Label3" style="position:absolute; left: 18px; top: 211px; right: 529px;">Brief description of the job:</label>
		<!--labels end here, input boxes start -->
		<input name="phone" type="text"style="position:absolute; left: 217px; top: 93px; width: 195px;" tabindex=2 />
		<input name="Other" type="text"style="position:absolute; left: 526px; top: 321px; width: 180px;" tabindex=12 />
		<input name="name" type="text"style="position:absolute; left: 216px; top: 48px; width: 195px;" tabindex=1 />
		<textarea name="message" style="position:absolute; left: 225px; top: 201px; width: 148px; height: 67px;" tabindex=4></textarea>
		<label id="Label13" style="text-align: right; position:absolute; left: 465px; top: 31px; right: 90px; height: 18px;">Carpentry Renovation:</label>
		<label id="Label12" style="text-align: right; position:absolute; left: 465px; top: 69px; right: 90px; height: 18px;">Trim:</label>
		<label id="Label15" style="text-align: right; position:absolute; left: 460px; top: 111px; right: 90px; height: 18px;">Stairs:</label>&nbsp;
		<label id="Label11" style="text-align: right; position:absolute; left: 461px; top: 143px; right: 90px; height: 18px;">Drywall/Finish Coat:</label>
		<label id="Label1" style="text-align: right; position:absolute; left: 451px; top: 182px; right: 90px; height: 18px;">Construction:</label>
		<label id="Label17" style="text-align: right; position:absolute; left: 461px; top: 212px; right: 90px; height: 18px;">Decks:</label>
		<label id="Label16" style="text-align: right; position:absolute; left: 452px; top: 248px; right: 90px; height: 18px;">Wood Rot Repair:</label>
		<label id="Label18" style="text-align: right; position:absolute; left: 452px; top: 322px; right: 220px; height: 18px;">Other:</label>
		<!--inputs start here-->
		<input name="trim" style="position:absolute; left: 663px; top: 70px;  right: 56px; width: 20px; height: 16px; bottom: 321px;" type="checkbox" tabindex=6 />
		<input name="newcon" style="position:absolute; left: 666px; height: 23px;  right: 53px;bottom: 208px;" type="checkbox" tabindex=9 />
		<!-- <input name="trim" style="position:absolute; left: 666px; top: 284px; right: 53px;"  type="checkbox" /> -->
		 <input name="woodrot" style="position:absolute; left: 666px; top: 252px; right: 53px; height: 16px;" type="checkbox" tabindex=11 />
		<input name="decks" style="position:absolute; left: 666px; top: 217px; right: 53px; height: 16px; visibility:visible" type="checkbox" tabindex=10 />
		<input name="drywall" style="position:absolute; left: 666px; top: 145px; right: 53px; bottom: 247px;" type="checkbox" tabindex=8 />
		<input name="renovation" style="position:absolute;  left: 666px; top: 33px; height: 20px;" id="redirect2" type="checkbox" tabindex=5/>
		<input name="stairs" style="position:absolute; left: 666px; top: 110px; right: 53px;"type="checkbox" tabindex=7 />
		<input name="email" type="text"style="position:absolute; left: 217px; top: 146px; width: 195px;" tabindex=3 /></fieldset>

		</form>
<script type="text/javascript" language="javascript">
var frmvalidator  = new Validator("contactme");
frmvalidator.addValidation("name","req","Please provide your name");
frmvalidator.addValidation("email","req","Please provide your email");
frmvalidator.addValidation("email","email",
  "Please enter a valid email address");
</script>


	</div>


<div id="layer7" style="position: absolute; width: 727px; height: 69px; z-index: 3; left: 35px; top: 1029px">
  <table>
    <tr>
      <td height="100" colspan="3" nowrap="nowrap" bgcolor="#666666" class="colorchange" style="width: 739px; height:50px;"><div align="center" class="red">Contact me at 239-410-5303, or E-Mail me at <a href="mailto:jdevens0@gmail.com">jdevens0@gmail.com</a></div></td>
    </tr>
  </table>
</div>

</div>









</div>
</body>


<!-- Mirrored from devensconstruction.com/contact.html by HTTrack Website Copier/3.x [XR&CO'2010], Mon, 18 Feb 2013 21:00:23 GMT -->
</html>
